body {
  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient(to right top, #afafb0, #90aec2, #53b3b9, #49b286, #85a63b);
  display: flex;
  flex-direction: column;
	align-items: center;
}

#notFox {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
	min-width: 100vw
}

img {
  border-radius: 10%;
  margin: 25px auto;
}